{% extends 'base.html' %}

{% block content %}

<h1 class="titulo">Seu Carrinho</h1>

{% if cards %}

<form method="POST" action="/checkout">

<div class="cards">

{% for card in cards %}

<div class="card-wrapper">

<input
type="checkbox"
name="selecionados"
value="{{card.id}}"
class="check-item">

<a href="/produto/{{card.id}}" class="card">

{% if card.imagem %}
<img
class="img"
src="{{ url_for('static', filename='uploads/' + card.imagem) }}">
{% endif %}

<h3>{{card.nome}}</h3>
<p>{{card.grupo}}</p>
<span>{{card.preco}}</span>

</a>

</div>

{% endfor %}

</div>

<div class="acoes-carrinho">

<button
type="button"
onclick="selecionarTodos()">
Selecionar todos
</button>

<button
type="submit"
class="comprar-btn">
Comprar selecionados
</button>

<button
type="button"
class="logout-btn"
onclick="removerSelecionados()">
Excluir selecionados
</button>

</div>

</form>

<form
id="removerForm"
method="POST"
action="/remover_selecionados">
</form>

{% else %}
<p class="vazio">Seu carrinho está vazio.</p>
{% endif %}

<script>

function selecionarTodos(){
document.querySelectorAll(".check-item")
.forEach(c=>c.checked=true)
}

function removerSelecionados(){

let checks =
document.querySelectorAll(".check-item:checked")

let form =
document.getElementById("removerForm")

form.innerHTML=""

checks.forEach(c=>{

let input=document.createElement("input")

input.type="hidden"
input.name="selecionados"
input.value=c.value

form.appendChild(input)

})

form.submit()

}

</script>

{% endblock %}