{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-12 col-md-8 col-lg-6">

            <div class="card shadow-sm border-0">

                <div class="card-body p-4">

                    <h3 class="text-center fw-bold mb-4">
                        Editar Photocard
                    </h3>

                    <form method="POST">

                        <!-- NOME -->
                        <div class="mb-3">
                            <label class="form-label">Nome</label>
                            <input
                                type="text"
                                name="nome"
                                value="{{ card.nome }}"
                                class="form-control"
                                placeholder="Nome">
                        </div>

                        <!-- GRUPO -->
                        <div class="mb-3">
                            <label class="form-label">Grupo</label>
                            <input
                                type="text"
                                name="grupo"
                                value="{{ card.grupo }}"
                                class="form-control"
                                placeholder="Grupo">
                        </div>

                        <!-- PREÇO -->
                        <div class="mb-3">
                            <label class="form-label">Preço</label>
                            <input
                                type="text"
                                name="preco"
                                value="{{ card.preco }}"
                                class="form-control"
                                placeholder="Preço">
                        </div>

                        <!-- DESCRIÇÃO -->
                        <div class="mb-3">
                            <label class="form-label">Descrição</label>
                            <input
                                type="text"
                                name="descricao"
                                value="{{ card.descricao }}"
                                class="form-control"
                                placeholder="Descrição">
                        </div>

                        <!-- BOTÃO -->
                        <button type="submit" class="btn btn-primary w-100">
                            Salvar alterações
                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}