{% extends 'base.html' %}

{% block content %}
<section class="hero">
    <h2>Troque e compre photocards exclusivos</h2>
    <p>Seu marketplace de K-pop</p>
</section>

<div class="cards">
{% if cards %}
{% for card in cards %}
<a href="/produto/{{card.id}}" class="card">
    {% if card.imagem %}
    <img class="img" src="{{ url_for('static', filename='uploads/' + card.imagem) }}">
    {% else %}
        <div class="img"></div>
    {% endif %}
    <h3>{{card.nome}}</h3>
    <p>
    👤 {{card.get("vendedor", "Desconhecido")}}
    </p>

<p>{{card.grupo}}</p>

<p>
{% if card.tipo_anuncio == "venda" %}
💸 Venda
{% elif card.tipo_anuncio == "troca" %}
🔄 Troca
{% else %}
💸🔄 Venda/Troca
{% endif %}
</p>

<span>R$ {{card.preco}}</span>
</a>
{% endfor %}
{% else %}
    <p class="vazio" style="text-align:center; padding:40px;">Nenhum photocard encontrado.</p>
{% endif %}
</div>
{% endblock %}