{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-center align-items-center" style="min-height:70vh;">

    <form method="POST" class="card p-4 shadow-sm" style="width:100%; max-width:420px;">

        <h3 class="mb-3 text-center">Escolha seu tipo de conta</h3>

        <select name="tipo" class="form-select mb-3" required>

            <option value="">Selecione</option>
            <option value="cliente">Cliente</option>
            <option value="vendedor">Vendedor</option>

        </select>

        <button class="btn btn-primary w-100">
            Continuar
        </button>

    </form>

</div>

{% endblock %}