{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-center align-items-center" style="min-height:70vh;">

    <form method="POST" class="card p-4 shadow-sm" style="width:100%; max-width:600px;">

        <h3 class="mb-3 text-center">Proposta de troca</h3>

        <textarea
            name="mensagem"
            class="form-control mb-3"
            rows="5"
            placeholder="O que você oferece na troca?"
            required></textarea>

        <button class="btn btn-primary w-100">
            Enviar proposta
        </button>

    </form>

</div>

{% endblock %}